/* Add here all your CSS customizations */

h1, h2, h3, h4, h5, h6{
  letter-spacing: 1px;
}

.btn.btn-sm{
  font-size: 0.6rem;
}

.member-box a{
  color: #fff;
}

.member-box .fa{
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}

.section .text-warning{
  color: #f6c52c!important;
}

.row-middle{
  height: 100vh
}

.section-intro{
  height: 100vh;
}

.section-service .owl-carousel .owl-item img{
  width: auto;
  display: inline-block;
}

.section-mentor h3{
  text-transform: none;
  margin-bottom: 15px;
}

.section-mentor .card, .section-blog .card{
  border-radius: 1rem;
  overflow: hidden;
}

.section.section-mentor .card a{
  width: 100%;
  height:360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-mentor .card .card-body{
  background: #F5C52C;
  height: 123px;
  overflow: hidden;
}

.section-videos .thumb-info.thumb-info-centered-icons .thumb-info-action-icon{
  width: 60px;
  height: 60px
}

.section-videos .thumb-info .thumb-info-action-icon i{
  font-size: 50px;
}

.section-videos .thumb-info{
  border-radius: 20px !important;
}

.section-videos .heading.heading-bottom-border h1{
  border-bottom: solid 5px #fff;
}

.section-videos.section-video-detail .heading.heading-bottom-border h1{
  border-bottom: solid 5px #f6c52c;
}

.section-profile-mentor .media{
  border-radius: 2em;
  overflow: hidden;
  -webkit-box-shadow: 5px 0 8px 1px #ccc;
  -moz-box-shadow: 5px 0 8px 1px #ccc;
  box-shadow: 5px 0 8px 1px #ccc;
}

.parallax:not(.page-header):not(.match-height):not([class*="section-height-"]){
  margin: 0 !important;
  padding: 0 !important;
}

.dashboard-banner-box{
  height: 300px;
}

.section-dashboard .parallax, .section-dashboard .parallax .parallax-background{
  border-radius: 2em !important;
}

.nav-left-sidebar{
  background-color: #f6c52c;
  border-radius: 2em;
  overflow: hidden;
}

.nav-left-sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0
}

.nav-left-sidebar ul li{
  position: relative;
}

.nav-left-sidebar ul li a{
  display: block;
  color: #333;
  padding: 20px;
  text-decoration: none;
}

.nav-left-sidebar ul li a span{
  position: relative;
  display: inline-block;
  top: -6px;
  left: 8px;
}

.nav-left-sidebar ul li a:hover, .nav-left-sidebar ul li a.active{
  background-color: #333;
  color: #fff;
}

.card{
  /* -webkit-box-shadow: 5px 0 8px 1px #ccc;
  -moz-box-shadow: 5px 0 8px 1px #ccc;
  box-shadow: 5px 0 8px 1px #ccc; */
}

.populer-video .col-lg-4 .thumb-info{
  border-radius: 20px;
}

.section-dashboard-content .entry-title h3{
  letter-spacing: 4px;
  position: relative;
}

.section-dashboard-content .entry-title h3::after{
  content: "";
  position: absolute;
  bottom: -14px;
  right: 0;
  border-bottom: solid 4px #f6c52c;
  width: 20%;
}

.section-cart .media{
  position: relative;
}

.section-cart .media .trash{
  color: #333;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.section-cart .media .trash:hover{
  color: red;
}

.section-video-detail .card{
  border-radius: 1em;
  border: solid thin #333;
}

.section-register .register-box .col:first-child{
  background: url('../images/video/video-3.jpg')no-repeat center;
  background-size: cover;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  -webkit-box-shadow: 2px 5px 8px #ddd;
  -moz-box-shadow: 2px 5px 8px #ddd;
  box-shadow: 2px 5px 8px #ddd;
}

.section-register .register-box .col:last-child{
  background-color: #fff;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  -webkit-box-shadow: 5px 2px 8px #ddd;
  -moz-box-shadow: 5px 2px 8px #ddd;
  box-shadow: 5px 2px 8px #ddd;
}

.section-register .register-box .form-control{
  border-radius: 1em
}

.nav-left-sidebar.member{
  background: none;
  border-radius: unset;
  padding: 0;
  text-align: left;
}

.latest-video h5 a{
  height: 50px;
  overflow: hidden;
  display: block;
}

.modal button.close{
  position: absolute;
  right: 10px;
  top: 10px;
  background: #ffc107;
  padding: 0px;
  border-radius: 6em;
  width: 35px;
  height: 35px;
}

.modal form .form-control{
  border-radius: 1em;
}

.btn-info{
  background-color: #2d4b94;
  border-color: #24396d;
}

.btn-info:hover{
  background-color: #24396d;
}

nav.collapse ul.nav .fa-user-circle{
  font-size: 18px;
}

.section-mentor .card{
  box-shadow: unset;
}

.upload-box{
  border: solid thin #ccc;
  padding: 10px;
}

.upload-box .upload-box-body{
  background: #ddd;
  border: dotted 4px #ccc;
  position: relative;
  display: table;
  width: 100%;
  height: 65px;
}

.upload-box-body input[type="file"]{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 3;
  outline: none;
  cursor: pointer;
  opacity: 0;
}

.upload-box-body p{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}



#footer, #footer p, #footer a{
  color: #ddd !important;
}

@media (min-width:992px) {
  .col-lg-1.col-ext{
    flex: 0 0 10%;
    max-width: 10%
  }

  .col-lg-2.col-ext{
    flex: 0 0 20%;
    max-width: 20%
  }

  .col-lg-3.col-ext{
    flex: 0 0 25%;
    max-width: 25%
  }

  .col-lg-4.col-ext{
    flex: 0 0 30%;
    max-width: 30%
  }

}
