.appear-animation{
  opacity: 1;
}

button.close{
  position: absolute;
  right: 20px;
  top: 17px;
}

.video{
  position: relative;
}

.video-body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.video-body a{
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
}

.video-body a:hover{
  color: red;
}

.video-body a i{
  display: table-cell;
  vertical-align: middle;
}

.course-description{
  background-color: #353c6a;
  color: #FFF;
}

.course-description i {
  color: #37bbb0;
}

.main-menu > nav > ul > li > ul > li > ul {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #262626;
  width: 220px;
  display: none;
}

.main-menu > nav > ul > li > ul > li:hover > ul {
  display: block;
}

.section.section-mentor .card a{
  width: 100%;
  height:360px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-mentor .card .card-body{
  background: #F5C52C;
  height: 123px;
  overflow: hidden;
}
